body{
    font-family: ‘Work Sans’, sans-serif;
}
#logo{
    height:60px;
    margin-top:10px;
}

.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.dt--fixed {
    table-layout: fixed;
    width: 100%;
}

.bg-black-10 {
    background-color: rgba(0, 0, 0, .1);
}

.bg-black-05 {
    background-color: rgba(0, 0, 0, .05);
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tc {
    text-align: center;
}

.topbox {
    height: 100%;
}

#div1 {
    height: 1000px;
    width: 100px;
}

#div2 {
    height: 1000px;
    width: 100px;
}

.ajaxbox {
    height: 50px;
}

.spacer {
    height: 50px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    padding: 35px 0;
    margin: 0 auto;
    width: 1140px;
    border-radius: 5%;
}

h1 {
    position: relative;
    margin-bottom: 45px;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #424242;
}

.gallery-wrap {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 70vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
}

.item-1:hover {
    flex: 9;
}

.item-2:hover {
    flex: 9;
}

.item-3:hover {
    flex: 9;
}

.item-1 {
    background-color: #72B9CF;
    text-align: center;
    border-radius: 20px;
}

.item-2 {
    background-color: #54D7FF;
    text-align: center;
    border-radius: 20px;
    margin:0px 10px;
    
}

.item-3 {
    background-color: #8CE4FF;
    text-align: center;
    border-radius: 20px;
}

#block1 {
    display: block;
    width: 100%;
    border: none;
    background-color: #54D7FF;
    color: black;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

#block1:hover {
    background-color: #8CE4FF;
    color: black;
}

#block2 {
    display: block;
    width: 100%;
    border: none;
    background-color: #8CE4FF;
    color: black;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

#block2:hover {
    background-color: #72B9CF;
    color: black;
}

#block3 {
    display: block;
    width: 100%;
    border: none;
    background-color: #72B9CF;
    color: black;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

#block3:hover {
    background-color: #54D7FF;
    color: black;
}

@media (max-width: 767.98px) {

    .container {
        padding: 35px 0;
        margin: 0 auto;
        width: 600px;
    }

    #logo{
        display: block;
        margin:0 auto;
    }

    .gallery-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }

    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
    }

    .item-2 {
        background-color: #54D7FF;
        text-align: center;
        border-radius: 20px;
        margin: 10px 0px;
        
    }
    
    .item-1:hover {
        flex: 9;
    }
    
    .item-2:hover {
        flex: 9;
    }
    
    .item-3:hover {
        flex: 9;
    }
}

@media (max-width: 575.98px) {

    .container {
        padding: 35px 0;
        margin: 0 auto;
        width: 500px;
    }

    .gallery-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }

    .item {
        flex: 1;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        transition: flex 0.8s ease;
    }

    .item-2 {
        background-color: #54D7FF;
        text-align: center;
        border-radius: 20px;
        margin: 10px 0px;
    }
    
    .item-1:hover {
        flex: 9;
    }
    
    .item-2:hover {
        flex: 9;
    }
    
    .item-3:hover {
        flex: 9;
    }
 }