#div1 {
    height: 1000px; width: 100px;
}
#div2 {
    height: 1000px; width: 100px;
}
.ajaxbox {
    height: 50px;
}
.spacer {
    height:50px;
}
#top1 {
    
}
#top2 {
    
}
#top3 {
    
}
#top4 {
    
}